.row
  .col.s12.m2.l3
    #choose-year.input-field
      = select_tag(:year, options_for_select(@options_for_select, @season.id))

  .col.s12.m10.l9
    %ul.events.collapsible
      %li
        .collapsible-header{style: "cursor: initial;"}= "Calendrier #{@season.name}"
      - @season.events.each_with_index do |event, index|
        %li{id: "event-#{index}"}
          .collapsible-header{"data-event-id": event.ibu_id, "data-element-id": "event-#{index}", class: "#{"grey lighten-3" if event.etat.nil?}"}
            %span.event--date
              %span.date= event.start_date.to_datetime.strftime("%d %b %Y")
              %span.date= event.end_date.to_datetime.strftime("%d %b %Y")
            %span.event--name= event.location
            %span.event--country
              %span.event--country--flag
                - image_path = "flags/#{event.short_nationality}.png"
                - if !Rails.application.assets.find_asset(image_path).nil?
                  = image_tag(image_path, class: "flag")
              %span.event--country--name= event.nationality
            %i.fa.fa-angle-down.dcm-toggle-icon
          .collapsible-body
            in progress...

:javascript
  $("#choose-year").change(function() {
    window.location = "?season=" + $("#year").val();
  });
