!!!
%html
  %head
    %title Api
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}

  %body{class: @body_classes}
    %nav
      .nav-wrapper.row
        .col.s12
          = link_to("IBU", root_path, class: "brand-logo")
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              = link_to(standings_path(:men), class: "dropdown-trigger", "data-target": "dropdown1") do
                Standings
                %i.material-icons.right

    = yield

  - if @standings
    = render partial: "standings_script"
